<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700">
        <link href="//pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap.native/3.0.13/bootstrap-native.min.js" integrity="sha512-Ve9hY0IbxNkvqNIgNSgny2szYeAhGem4PTqW34t6+ZRL/myUG2TBz2egpBk3hPF8NtCpafprw0T4fGaun6g5fw==" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
